* {
  box-sizing: border-box;
}

@font-face {
  font-family: "garage-gothic";
  src: url("assets/GarageGothic-Regular.otf");
}

html {
  height: 100%;
}

section {
  width: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: width 0.5s ease-in-out;
  display: none;
}

section.active {
  display: flex;
  width: 100%;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

/* HOME */

#homeLogo path {
  fill: #fff;
}

body {
  background: url("assets/bg.png") no-repeat center center fixed;
  background-color: #FFDBD1;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}

#menu-container {
  /*padding: 5%;*/
  align-items: center;
  justify-content: center;
  object-fit: contain;
  position: relative;
}

.layer {
  display: flex;
  position: absolute;
  object-fit: contain;
  max-width: 90vw;
  max-height: 90vh;
  height: 90%;
  width: 90%;
}

.rotating-logo {
  animation: rotation 30s infinite linear;
}

#homeLogo {
  max-width: 33vw;
  max-height: 33vh;
}

.title {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.title svg {
  position: relative;
}

.title.left svg {
  left: 120px;
}

.title.right svg {
  right: 120px;
}

svg {
  width: 100%;
  height: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes oscillation {
  0% {
    top: 5%;
  }
  100% {
    top: -5%;
  }
}

/* blog */

.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  margin: 0 auto;
  padding: 3em 0;
}

.top-line {
  display: flex;
}

.top-line .rotating-logo {
  width: 30em;
  height: 30em;
}

#mainLayoutLogo path {
  fill: #7D2D22;
}

.flag {
  animation: oscill 1s ease-in-out infinite alternate;
  height: 20em;
}

nav>ul {
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
  font-family: 'garage-gothic', sans-serif;
  color: white;
  font-size: 5em;
}

nav>ul li {
  padding-left: 1em;
}

nav>ul li:last-child {
  color: black;
}

.raining-lane {
  width: 30em;
}

.raining-lane>div {
  width: 20%;
  margin: 0 auto;
}

.raining-lane path {
  fill: #7D2D22;
}
