* {
  box-sizing: border-box;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rain {
  from {
    top: -20%;
  }

  to {
    top: 0;
  }
}

@keyframes radiating-portrait {
  from {
    height: 100vh;
  }

  to {
    height: 150vh;
  }
}

@keyframes radiating-landscape {
  from {
    width: 100vw;
  }

  to {
    width: 150vw;
  }
}

html {
  height: 100%;
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
}

.page {
  display: none;
}

.page.active {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

section {
  width: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: width 0.5s ease-in-out;
  display: none;
}

section.active {
  display: flex;
  width: 100%;
  height: auto;
  transition: width 0.5s ease-in-out;
}

/* HOME */

.radiation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radiation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (orientation:portrait) {
  .radiation {
    animation: radiating-portrait 0.5s infinite linear;
  }
}

@media (orientation:landscape) {
  .radiation {
    animation: radiating-landscape 1s infinite linear;
  }
}

#homeLogo path {
  fill: #fff;
}

body {
  background: url("assets/bg.png") no-repeat center center fixed;
  background-color: #FFDBD1;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}

#home {
  /*padding: 5%;*/
  align-items: center;
  justify-content: center;
  object-fit: contain;
  position: relative;
}

.layer,
.layer-group {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  object-fit: contain;
  max-width: 90vw;
  max-height: 90vh;
  height: 100%;
  width: 100%;
}

.layer-group {
  max-width: 45vw;
}

.layer-group>div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.layer-group>div:first-child {
  justify-content: flex-end;
}

.layer-group>div:last-child {
  justify-content: flex-start;
}

.hidden>* {
  visibility: hidden;
}

#homeMenuZine:hover g,
#homeMenuFest:hover g {
  cursor: pointer;
}

.rotating-logo {
  animation: rotation 30s infinite linear;
}

#homeLogo {
  max-width: 33vw;
  max-height: 33vh;
}

svg {
  height: 100%;
}

/* layout */

.raindrop-container>div {
  display: flex;
  justify-content: center;
  height: 20%;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 12px;
  margin: 0 auto;
  padding: 3% 3% 0 3%;
}

.frame>div {
  height: 100%;
  position: relative;
}

.column-left {
  width: 20%;
}

.column-right {
  width: 80%;
}

@media screen and (max-width: 700px) {
  .column-left {
    display: none;
  }

  .column-right {
    width: 100%;
  }
}

#mainLayoutLogo {
  width: 100%;
  max-height: 30em;
}

#mainLayoutLogo path {
  fill: #7D2D22;
}

.raining-lane {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.raining-lane>div {
  margin: 0 auto;
  height: 100%;
  animation: 3s infinite normal rain;
  animation-timing-function: linear;
  position: relative;
}

.raining-lane path {
  fill: #7D2D22;
}

.top-line {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner>svg {
  width: 90%;
}

/* navigation */

nav>ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

nav>ul li {
  padding: 10px;
  cursor: pointer;
}

nav>ul li:last-child {
  color: #224B56;
}

/* blog */

ol.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a.post-link {
  text-decoration: inherit;
  color: inherit;
  outline: none;
}

.content.active,
#postInnerContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 3rem;
  padding: 1rem;
  color: #224B56;
}

.content h2 {
  color: #7D2D22;
}

#categorySelector {}

/* post */

#post {
  padding: 1rem;
}

#postInnerContainer h1 {
  color: #7D2D22;
  width: 100%;
  text-align: center;
}


/* 404 */

#fourZeroFour {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: hotpink;
}

#fourZeroFour.shown {
  display: flex;
}
